.body{
  height: auto;
  width: 100vw;
}
.title{
  position: absolute;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: #0E724C;
}
.homepage {
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-panel{
    position:absolute;
    margin-left: 0px;
    height:100vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-right: 3px solid #b9b9b9;
    box-shadow: 0 0 10px rgba(0,0,0,0);

  }
  .logo-photo{
    position: absolute;
    margin-top: 0px;
    left: 50px;
    top:150px;
    text-align: center;
  }
  .logo-photo img{
    width: 30vh;
    height: 25vh;
    border-radius: 40%;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
  }
  .titleStyle{
    color:#0E724C;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: -30px;
  }
  .user-photo {
    width: 25vh;
    height: 25vh;
    background: #ccc;
    border-radius:80%;
    margin-left: -200px;
    margin-top: 55vh;
    position: absolute;
  }

  .profileName{
  position:absolute;
  top:595px;
  left:85px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:#666666;
  }
  .right-panel{
    position:absolute;
    background-color: rgb(255, 255, 255);
    margin-left: 70%;
    width: 25vw;
    height:100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    border-left: 3px solid #b9b9b9;

  }
  .calendarName{
    color: #696969; 
    text-align: center;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 500; 
    word-wrap: break-word;
    margin-left: 15px;
    margin-top:20px;
  }
  
  .logout-button {
    position:absolute;
    top: 90%;
    left: 5%;
    background: #ff0000;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background: #dd0000;
    padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  margin-top: 20px;
  }
 .name{
  text-align: center;
  margin-bottom: 50px;
 }

 .new-calendar-button{
  background-color: #0E724C;
  text-align: center; 
  color: white; 
  font-size: 20px; 
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 500; 
  word-wrap: "break-word";
  width:150px;
  height:35px;
  margin-top:500px;
  margin-left:15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 642px;
  margin-left: 70px;
 }
 .new-calendar-button:hover{
  background-color: #4CAF50;
 }

 /* Calendar css */

 
