.body{
  height: auto;
  width: 100%;
}
.homepage {
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .left-panel{
    position:absolute;
    margin-left: 0px;
    height:100vh;
    width: 20%;
    background-color: rgb(255, 255, 255);
    border-width: 2px;

  }
  .logo-photo{
    position: absolute;
    margin-top: 0px;
    left: 50px;
    top:150px;
    text-align: center;
  }
  .logo-photo img{
    width: 180px;
    height: 150px;
    border-radius: 40%;
    overflow: hidden;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.25);
  }
  .titleStyle{
    color:#0E724C;
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: -30px;
  }
  .user-photo {
    width: 180px;
    height: 180px;
    background: #ccc;
    border-radius:80%;
    margin-top: 10px;
    position:absolute;
    top:380px;
    left:55px;
  }

  .profileName{
  position:absolute;
  top:595px;
  left:85px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:#666666;
  }
  .right-panel{
    position:absolute;
    background-color: rgb(255, 255, 255);
    margin-left: 70%;
    width: 30%;
    height:100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    border-left: 2px solid #666666;

  }
  .calendarName{
    color: #696969; 
    text-align: center;
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: 500; 
    word-wrap: break-word;
    margin-left: 15px;
    margin-top:20px;
  }
  
  .logout-button {
    position:absolute;
    top: 735px;
    left:100px;
    background: #ff0000;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background: #dd0000;
    padding: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  margin-top: 20px;
  }
 .name{
  text-align: center;
  margin-bottom: 50px;
 }

 .new-calendar-button{
  background-color: #0E724C;
  text-align: center; 
  color: white; 
  font-size: 20px; 
  font-family: 'Times New Roman', Times, serif; 
  font-weight: 500; 
  word-wrap: "break-word";
  width:150px;
  height:35px;
  margin-top:500px;
  margin-left:15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 642px;
  margin-left: 70px;
 }
 .new-calendar-button:hover{
  background-color: #4CAF50;
 }

 /* Calendar css */

 .react-calendar {
  margin-top: 20%;
  margin-left: 30%;
  width: 350px;
  height: 300px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 1em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 1em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 2em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #a3e7b4;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #195434;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #224e2c;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
