*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form
{
    padding: 20px 30px;
    background: #f4f4f4;
    border-radius: 5px;
}
.form .container
{
    max-width: 100%;
}
.form .container form
{
    display: flex;
    flex-direction: column;
}
.form .container form input
{
    margin: 10px 20px;
    padding: 10px 10px;
    width: 300px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    color: #0d0d0d
}

/* Sign Up & Go Back buttons */
.form .container form button
{
        font-size:35px;
        color: #696969;
        font-family: 'Times New Roman', Times, serif;
        font-weight:700;
        margin-left: 10vh;
        border-radius: 15px;
        padding: 5px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 15px;
        margin-bottom: 5vh;
        margin-top: 0vh;
        text-decoration: none;
}