*
{
    font-family: sans-serif;
    box-sizing: border-box;
    font-style: oblique;
    font-weight: bolder;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form
{
    max-width: 100%;
    padding: 20vh 10vh;
    background: #bbc7a0;
    border-radius: 1vh;
}
.form .container
{
    max-width: auto;
}
.form .container form
{
    margin: 0.1vh 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(14, 89, 64);
}
.form .container form input
{
    margin: 1vh 1vh;
    padding: 0.5vh 1vh;
    width: 30vh;
    background: rgb(222, 235, 225);
    border: rgb(31, 200, 79);
    outline: none;
    border-bottom: 0.3vh solid #000;
    color: #0d0d0d
}

.form .container form button
{
    width: 10vh;
    padding: 1vh 1vh;
    margin-left: 3vh;
    cursor: pointer;
    border: none;
    outline: none;
    background: #0cc0df;
}